#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.decks {
  display: grid;
  color: black;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 600px;
  gap: 10px;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}
