.container {
  background: white;
  color: #333;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.list-items {
  display: flex;
  justify-content: space-around;
}

.list-item {
  list-style: none;
  cursor: pointer;
}
